body {
    font-family: verdana;
}

.title {
    text-align: center;
    border-bottom: 1px solid grey;
    padding-bottom: 0.5rem;
}

.letters_block {
    display: flex;
    font-size: 3rem;
    justify-content: center;
    margin-bottom: 1rem;
}

.letters_block .letter_block:nth-child(2) {
    animation-delay: 0.2s;
}

.letters_block .letter_block:nth-child(3) {
    animation-delay: 0.4s;
}

.letters_block .letter_block:nth-child(4) {
    animation-delay: 0.6s;
}

.letters_block .letter_block:nth-child(5) {
    animation-delay: 0.8s;
}

.letters_block span {
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

.letter_block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    animation: flip 0.5s ease forwards;
    margin-right: 1rem;
    border: 1px solid #333;
}

.bounce {
    animation: bounce 0.2s ease-in-out forwards;
}

.green {
    --background: #69aa65;
}

.yellow {
    --background: #c9b359;
}

.gray {
    --background: #777c7f;
}

.letter_block_empty {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    margin-right: 1rem;
    border: 1px solid #333;
    font-weight: bold;
    text-transform: uppercase;
}

.keypad {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

.inside {
    margin: 5px;
    width: 50px;
    height: 60px;
    background: #eee;
    display: inline-block;
    border-radius: 6px;
    line-height: 50px;
    text-align: center;
    font-size: 1.2rem;
}

.grayKey {
    background: #777c7f;
}

.yellowKey {
    background: #c9b359;
}

.greenKey {
    background: #69aa65;
}

/* animation */

@keyframes flip {
    0% {
        transform: rotateX(0deg);
        background: #fff;
        border-color: #333;
    }

    45% {
        transform: rotateX(90deg);
        background: white;
        border-color: #333;
    }

    55% {
        transform: rotateX(90deg);
        transform: rotateX(90deg);
        background: var(--background);
        border-color: var(--border-color);
    }

    100% {
        transform: rotateX(0deg);
        background: var(--background);
        border-color: var(--border-color);
        color: #eee;
    }
}

@keyframes bounce {
    0% {
        transform: scale(1);
        border-color: #ddd;
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
        border-color: #333;
    }

}